*{
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.text-italic{
    font-style: italic;
}

.menu{
    display: inline;
}

.separator{
    height: 2rem;
}

.artsTitle, .museumsTitle{
    color: white;
    text-shadow: black 2px 2px 2px;
}
.literature{
    background-image: url(./img/literature.jpg);
}

.music{
    background-image: url(./img/music.jpg);
    background-position: center;
}

.movies{
    background-image: url(./img/movies.jpg);
    background-position: center;
}

.painting{
    background-image: url(./img/painting.jpg);
    background-position: center;
}

.architecture{
    background-image: url(./img/architecture.jpg);
    background-position: center;
}

.dance{
    background-image: url(./img/dance.jpg);
    background-position: center;
}

.artMuseum{
    background-image: url(./img/artsMuseum.jpg);
    background-position: center;
}

.scienceMuseum{
    background-image: url(./img/scienceMuseum.jpg);
    background-position: center;
}

.libraries{
    background-image: url(./img/library.jpg);
    background-position: center;
}

.picture{
    height: 20rem;
    width: 15rem;
    background-image: url(./img/halyna.jpg);
    background-position: center;
    background-size: cover;
}

.museumPic{
    background-image: url(./img/artsMuseum.jpg);
    background-position: center;
    background-size: cover;
    height: 35rem;
    width: 20rem;
}

.litPic{
    background-image: url(./img/litPic.JPG);
    background-position: center;
    background-size: cover;
    height: 20rem;
    
}

footer{
    background-color: rgb(168, 168, 168);
    font-size: 0.8rem;
    line-height: 0.5rem;
    height: fit-content;
    width: 100%;
}